.books {
    position: absolute;
    align-items: center;
    top: 220px;
    width: 90vw;
    left: 30px;
    display: flex;
    flex-wrap: wrap;
}

.bubble {
    width: 130px;
    height: 100px;
    background-image: url("../public/assets/Ellipse 7bubble.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;
    z-index: 4;
}

.book-title {
    margin-top: 34px;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: darkblue;
    color: white;
}